body{
    color: red;

}

@media screen and (max-width:339px) {



    body {
        color: black;
           }
    .alert-info {
        margin: 0 auto;
        text-align: center;
        padding: 12px;
        border-style: solid;
        border-width: 2px;
        border-color: lightgray;
        background-color: #a6ffff;
            }
    .alert-info>a{text-decoration: none;
        color: black;}

    h1{
        margin: 0 auto;
        text-align: center;
        padding-bottom: 15px;
        font-family: sans-serif;
        font-size: 42px;
        font-weight: bold;
        letter-spacing: .05em;

    }


    nav{
        margin-block: 5px;
        width: 100%;

    }
   ul.nav-links{
       margin: 0 auto;
       padding-inline-start: 0;
       display: flex;
       flex-direction: column;
       align-items: center;



    }

    li{
        display: flex;
        width: 100%;
        align-items: baseline;
        margin-block: 5px;
        /*padding: 5px;*/
        background-color: lightgray;
        padding-bottom: 20px;
        margin-bottom: 10px;
        align-content: center;



    }
    a{
        margin: 0 auto;
        padding-top: 15px;






    }
    .header-img>img{
        width: 100%;



    }
    .sub-section {
        font-style: italic;
    }
}

@media screen and (min-width: 339px) and (max-width: 900px) {

    body {
        color: black;
        padding: 5px;
    }

    .alert-info {
        margin: 0 auto;
        text-align: center;
        padding: 12px;
        border-style: solid;
        border-width: 2px;
        border-color: lightgray;
        background-color: #a6ffff;
        display: none;
    }

    .alert-info > a {
        text-decoration: none;
        color: black;
        display: none;
    }

    h1 {
        float: left;
        margin: 0 auto;
        text-align: left;
        /*padding-bottom: 15px;*/
        font-family: sans-serif;
        font-size: 42px;
        font-weight: bold;
        letter-spacing: .05em;
        display: inline-block;
        width: 59%;

    }


    nav {
        /*margin-block: 5px;*/
        width: 39%;
        display: inline-block;
        margin: auto;

    }

    ul.nav-links {
        /*float: right;*/
        /*margin: 0 auto;*/
        /*padding-inline-start: 0;*/
        display: flex;
        flex-direction: row;
        align-content: end;
        /*align-items: center;*/


    }

    li {
        /*float: right;*/
        display: flex;
        width: 100%;
        align-items: baseline;
        /*margin-block: 5px;*/
        /*padding: 5px;*/
        /*background-color: lightgray;*/
        /*padding-bottom: 20px;*/
        /*margin-bottom: 10px;*/
        align-content: center;
        justify-content: space-around;


    }

    a {
        margin: 0 auto;
        /*padding: 10px;*/

        /*padding-top: 15px;*/


    }

    .header-img > img {
        width: 100%;
        margin-top: 30px;


    }

    .sub-section {
        font-style: italic;
        min-height: 300px;


    }
    .main {
        width: 57%;
        /*display: inline-flex;*/
        display: inline-block;
        vertical-align: top;
        padding-right: 5px;
    }
    .main>h2{

        /*display: flex;*/
        /*float: left;*/
        /*width: 60%;*/
    }
    .main > p {
        /*display: flex;*/
        /*clear: left;*/
        /*float: left;*/
        /*width: 60%;*/
    }
    .sub-section{
        width: 38%;
        display: inline-block;
        padding-left: 5px;
        vertical-align: top;
    }
    .sub-section>p {
        /*padding-top: 1em;*/
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    footer>p {
        display: flex;
        align-self: flex-start;
        position: absolute;
        bottom: 0;
        padding-bottom: 100px;
        width: 50%;
    }
    #social-media-links{
        display: flex;
        align-self: flex-end;
        /*float: right;*/
        flex-direction: row;
        flex-wrap: wrap;
        /*padding-right: 50px;*/
        /*align-items: end;*/
        position: absolute;
        bottom: 0;




    }

    #twitter {
        border-radius: 100%;
        /*display: flex;*/
        width: 50px;
        bottom: 0;
        /*position: absolute;*/
        padding-bottom: 100px;
        /*display: inline-block;*/
        /*align-self: flex-start;*/
        /*align-content: center;*/
    }
    #facebook{
        border-radius: 100%;
        /*display: inline-block;*/
        /*align-self: flex-end;*/
        /*float: left;*/
        width: 28px;
        bottom: 0;
        /*position: relative;*/
        padding-bottom: 100px;
        /*position: unset;*/
        /*bottom: 0;*/
        /*padding-bottom: 160px;*/
        /*align-content: center;*/
    }
}

